<!DOCTYPE html>
<html>
	<head>
		<title>商品详情</title>
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link href="css/basic.css" rel="stylesheet" type="text/css" />
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<link href="css/responsive.css" rel="stylesheet" type="text/css" />
		<link href="css/wxParse.css" rel="stylesheet" />
		<link href="css/font-awesome.min.css" rel="stylesheet">
		<script src="js/rem.js"></script>
		<script src="js/include.js"></script>
		<link rel="stylesheet" href="css/css/magic.css">
		<link rel="stylesheet" href="css/animate/animate.min.css">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="js/browser.min.js"></script>
		<script src="js/base.js" type="application/javascript"></script>
		<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript " src="js/bootstrap.js"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true&ak=M9C0DhYUo81Io76oZlaPQ1xoZcycRqwB"></script>
		<!-- <script src="js/jquery.stellar.js"></script> -->
		<script src="js/jquery.waypoints.min.js"></script>
		<script type="text/javascript" src="js/html2canvas.js"></script>
		<link rel="stylesheet" type="text/css" href="YSG.css/public.css" />
		<script src="https://cdn.bootcss.com/clipboard.js/2.0.4/clipboard.min.js" type="text/javascript "></script>
		<style type="text/css">
			.bigimg {
				width: 100%;
				height: 200px;
				overflow: hidden;
			}

			.bigimg img {
				width: 100%;
				height: 200px;
			}

			.little {
				width: 90px;
				height: 109px;
				border-radius: 8px;
				overflow: hidden;
				position: fixed;
				bottom: 60px;
				left: 274px;
			}

			.navbar-brand {
				width: 100%;
				height: 52px;
				position: fixed;
				bottom: 0pxpx;
				background: #EAEAEA;
				font-size: 7px;
			}

			.navbar-brand ul li {
				display: inline-block;
				float: left;
				width: 33.33%;
				text-align: center;
				height: 55px;

			}

			.navbar-brand img {
				width: 17px;
				height: 16px;
				margin-bottom: 3px;
			}

			.navbar-brand a {
				color: #fff;
				text-align: center;
			}

			#stor-top {
				width: 100%;
				position: fixed;
				z-index: 100;
				bottom: 0px;
			}

			.pic {
				width: 100%;
				height: 100%;
				position: fixed;
				top: 0;
				left: 0;
				z-index: 10
			}

			.pic img {
				width: 100%;
				height: 100%;

			}
		</style>
	</head>
	<body>
		<div id="app">
			<div class="pic" v-if="ishowPic" style="z-index:99999">
				<image :src="url" @click="closePic" />
			</div>
			<div style="width: 100%;position: absolute;z-index: -999;top: 0;" id="test">
				<img :src="mainData&&mainData.posterImg&&mainData.posterImg[0]?mainData.posterImg[0].url:''" style="width: 100%;" />

				<button style="width:1.3rem;height:1.3rem;position: absolute;top: 598px;left: 4px; background: rgba(0,0,0,0); ">
					<img :src="QrData.url" style="width:100%;height:100%" />
				</button>
			</div>


			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="height:4rem" v-if="mainData.bannerImg&&mainData.bannerImg.length>0">
				<ol class="carousel-indicators">
					<li v-for="(item, index) in mainData.bannerImg" data-target="#carousel-example-generic" :data-slide-to="index"
					 :class="index=='0'?'active':''"></li>
				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="item" v-for="(item, index) in mainData.bannerImg" :class="index=='0'?'active':''">
						<img :src="item.url" style="height:4rem;width:100%" class="img-responsive banner_img">
					</div>
				</div>
			</div>

			<div class="banner" style="height:4rem;background: #fff;border-bottom:1px solid #f2f2f2" v-else>

			</div>
			<div class="bg1" style="padding: 15px;">
				<div class="font14 color1">
					{{mainData.title}}
				</div>
				<div class="font16 color5" style="margin-top: 15px;">￥{{mainData.price}}<span class="font10 color2" style="text-decoration: line-through; margin-left: 10px;">门市价￥{{mainData.o_price}}</span>
				</div>
				<div style="margin-top: 18px;">
					<div class="color2 font12 ilblock">已售：{{mainData.false_sale_count}}</div>
					<div class="color2 font12 ilblock flo-right">库存：{{mainData.false_stock}}</div>
				</div>
			</div>
			<div class="bg1" style="border-top: 10px solid #f2f2f2; width: 100%;">
				<div class="font15 color1" style="margin-left: 15px; border-bottom: solid 2px #F4F4F4; height: 40px; line-height: 40px;">
					商家信息
				</div>
				<div style="width: 100%;padding: 10px 15px 5px; height: 55px;">
					<div class="ilblock flo-left" @click="map">
						<img src="imgs/details-icon4.png" style="width: 14px;position: relative;top: 8px;" />
					</div>
					<div class="ilblock flo-left" style="margin-left: 12px;">
						<div class="color3 font14">{{mainData.user&&mainData.user[0]?mainData.user[0].login_name:''}}</div>
						<div class="color2 font12" style="line-height: 25px;">{{mainData.user&&mainData.user[0]&&mainData.user[0].info?mainData.user[0].info.address:''}}</div>
					</div>
					<div class="ilblock flo-right" @click="callphone(mainData.user[0].info.phone)">
						<img src="imgs/details-icon5.png" style="width:20px; position: relative;top: 8px;" />
					</div>
				</div>
			</div>
			<div class="bg1" style="border-top: 10px solid #f2f2f2; width: 100%;">
				<div class="font15 color1" style="margin-left: 15px; border-bottom: solid 2px #F4F4F4; height: 40px; line-height: 40px;">
					详情信息
				</div>
				<div class="color3 font11">
					<div class="content ql-editor" style="clear: both;">
						<p class="p1" v-html="mainData.content?mainData.content:''"></p>
					</div>
				</div>

			</div>
			<div class="little bg1">
				<div class="bg3 font12" style="color: #fff; height: 20px;text-align: center;line-height: 20px;">
					分享链接
				</div>
				<div class="color5 bg1 font11 avoidOverflow" style="text-align: center;line-height: 30px; height: 30px; border-bottom: dashed 1px #F54A6F;">
					返佣金￥{{mainData.first_class}}
				</div>
				<div class="font12 color3" style="text-align: center;margin-top: 10px;">
					好友下单得佣金
				</div>
				<div>
					<button class="bg3 radiu20" style="height: 25px;width: 80px; text-align: center;line-height: 25px; margin:6px auto;color:#fff"
					 @click="showShare">
						立即分享</button>
				</div>
			</div>
			<div style="width:100%;height:55px"></div>
			<div class="navbar-brand">
				<ul style="height: 55px;">
					<li style="border-right: solid 1px #CCCCCC;" @click="intoPath('index')">
						<div class="navbar-img"><img src="imgs/details-icon6.png" /></div>
						<div class="font12 color3">返回首页</div>
					</li>
					<li @click="callphone(mainData.user[0].info.phone)">
						<div class="navbar-img"><img src="imgs/details-icon7.png" /> </div>
						<div class="font12 color3">一键拨号</div>
					</li>
					<li class="bg3" style="line-height: 50px;position: relative; top: -15px; left: 15px;" @click="intoDetail('pay',mainData.id)">

						<div class="font12" style="color: #fff;">立即购买</div>

					</li>
				</ul>
			</div>
			<div id="stor-top" :style="isShow?'display:block':'display:none'">
				<div style="width: 100%; height: 497px; background: rgba(0,0,0,0.5);"></div>
				<div class="bg1" style="width: 100%; height: 170px;">
					<div style="padding: 15px; margin-bottom: 10px;">
						<img class="flo-right" style="width: 20px;" src="imgs/details-icon3.png" @click="showShare" />
						<div style="clear: both;"></div>
					</div>
					<div class="flex">
						<div style="width: 60px;height: 80px; text-align: center; margin-left: 15px;" @click="test">
							<div style="width: 60px; height: 60px; overflow: hidden;">
								<img src="imgs/details-icon1.png" style="width: 40px;" />
							</div>
							<div class="font10 color2">生成海报</div>
						</div>

						<button class="ilblock copyBtn color2" style="font-size: 10px;width: 60px;height: 80px; text-align: center; margin-left: 15px;background: #fff;" data-clipboard-action="copy"data-clipboard-target="#copyVal">
							<div style="width: 60px; height: 60px; overflow: hidden;">
								<img src="imgs/details-icon2.png" style="width: 40px;" />
							</div>
							
							点击复制
							<div  id="copyVal" readonly  style="opacity: 0;" class="avoidOverflow">{{shareUrl}}</div>
						</button>
					</div>
				</div>
			</div>
		</div>
		<script type="text/babel">
			var copyBtn = new ClipboardJS('.copyBtn');
			
			copyBtn.on("success",function(e){
				// 复制成功
				alert('复制成功');
				e.clearSelection();
			});
			copyBtn.on("error",function(e){
				//复制失败；
				console.log( e.action )
			});
			
			var app = new Vue({
				el: '#app',
				data: function() {
					return {
						sliderData: [],
						buttonClick: false,
						isLoadAll: false,
						mainData: [],
						nowTime:'',
						QrData:[],
						paginate:{
							count: 0,
							currentPage: 1,
							pagesize: 6,
							is_page: true,
						},
						searchItem:{
							thirdapp_id:2,
							type:1
						},
						url:'',
						isShow:false,
						ishowPic:false,
						shareUrl:''
					}
		
				},
				
				mounted() {
					window.addEventListener('scroll', this.handleScroll)
				},
				
				computed: {
					// 计算属性的 getter
					stringifyOrder: function() {
						return JSON.stringify(this.order).replace(/\"/g, "");
					}
				},
				
				created: function() {
					    this.shareUrl = document.URL+'&user_no='+localStorage.getItem('user_no');
						var user_no = window.base.GetRequest().user_no;
						if (user_no) {
							localStorage.removeItem('user_token');
							localStorage.removeItem('user_no');
						};
						
						var callback = (res)=>{
						  
						 this.init()
						  
						};
						window.base.getUserToken(callback);
					
					
				},
				

				
		
				methods: {
					
			
					
					init(){
						const self = this;
						
						this.getMainData();
						self.getQrData()
					},
					
					test(){
						const self = this;
					
					
						html2canvas(document.getElementById("test"),{ width:375,height:667 }).then(function(canvas){
							var imgUrl = canvas.toDataURL();
							self.url = imgUrl;
							if(imgUrl){
								self.ishowPic = true,
								self.isShow = false
							}
						});	
						
					},
		
					callphone(phone){    
						
						console.log('phone',phone)
						window.location.href = "tel:"+phone;
					},
					
					map(){
						const self = this;
						console.log(self.mainData.user[0].info.latitude);
						console.log(self.mainData.user[0].info.longitude);
						
						/* window.location.href = "http://api.map.baidu.com/marker?location=" +39.903719+ "," +116.427281+ 
						"&title=" + 'ddddd' + "&content=" +'ssss'+ "&output=html" */

						window.location.href = "http://api.map.baidu.com/marker?location=" 
						+ parseFloat(self.mainData.user[0].info.latitude) + "," + parseFloat(self.mainData.user[0].info.longitude)
						+ "&title=" + self.mainData.user[0].info.name + "&content=" +self.mainData.user[0].info.address+ "&output=html"
						
						
					},
					
					
					
					
					
					getQrData(){
					    const self = this;
					    const postData = {};
					    postData.token = localStorage.getItem('user_token');
					    postData.param = window.location.href+'&user_no='+localStorage.getItem('user_no');
					    postData.ext = 'png';
					    const callback = (res)=>{
					      console.log(res);
					      self.QrData = res.info;
					      console.log(9990,self.QrData)
					    };
					    window.base.getQrCommonCode(postData,callback);
					},
					
					getMainData() {
						const self = this;
						const postData = {
							searchItem: {
								id: window.base.GetRequest().id,
							}
						};
						postData.getAfter = {
							user:{
								token:localStorage.getItem('user_token'),
								tableName:'User',
								middleKey:'user_no',
								key:'user_no',
								searchItem:{
									status:1
								},
								condition:'='
							},
					
						};
						const callback = (res) => {
							if (res.info.data.length > 0) {
								self.mainData = res.info.data[0];	
								console.log(self.mainData.user[0].info.latitude)	
								console.log(self.mainData.user[0].info.longitude)
							} else {
								alert('数据错误')
							};	
						};
						window.base.productGet(postData, callback);
					},
					
					showShare(){
						const self = this;
						self.isShow = !self.isShow;
						
					},
					
					closePic(){
						const self = this;
						self.ishowPic = false
					},
		
					intoPath(url) {
						console.log(url);
						var into_url = url;
						window.location.href = into_url + '.html'
					},
					
		
					intoDetail(url,id) {
						console.log(url);
						var into_url = url;
						window.location.href = into_url + '.html'+'?id='+id
					},
		
				}
		
			});
		</script>

	</body>
</html>
